<mat-form-field class="form-field">
     <mat-select [(ngModel)]="selectedCountry" name="country" (selectionChange)="oncountryChange($event)">
      <mat-option [value]="''" > Global </mat-option>
      <mat-option *ngFor="let contVal of countries"  [value]="contVal" >
        {{contVal.name}}
      </mat-option>
    </mat-select>
      <!-- <mat-option *ngFor="let animal of animals" [value]="animal">
        {{animal.name}}
      </mat-option>
    </mat-select> -->
    <!-- <select matNativeControl  [(ngModel)]="selectedCountry" name="country">
      <option label="--select something --"></option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select> -->
</mat-form-field>
