.form-field{
    width: 100%;
}
.hh:focus {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.05);
}

::ng-deep .mat-select-value-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}


::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix:focus {
    border-bottom: 2px solid rgba(0, 0, 0, 0.87);
}

::ng-deep .mat-select-panel {
    transform-origin: 50% 20.8984px 0px;
    font-size: 14px;
    opacity: 1;
    min-width: 100%;
    transform: scaleY(1);
    max-width: 50%;
}